.idea
crash-reports
downloads
journeymap
lightspeed-cache
logs
mods
patchouli_books
resourcepacks
saves
schematics
screenshots
shaderpacks
.curseclient
enigmatic_persistence.dat
imgui.ini
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json