.idea
.physics_mod_cache
blueprints
crash-reports
downloads
journeymap
lightspeed-cache
logs
patchouli_books
resourcepacks
saves
schematics
screenshots
shaderpacks
simplebackups
.physics_mod_cache
.curseclient
enigmatic_persistence.dat
imgui.ini
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
minecraftinstance.json
o_prof
minecraftinstance*
scripts/examples*